<section class="mx-auto w-full max-w-screen-lg px-2 mt-5">
    <!-- <button></button> -->
    <a 
     routerLink="/tasks/new"
    class=" cursor-pointer inline-block mb-2 focus:outline-none bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-md text-white text-sm px-6 py-2 transition-colors duration-300 ease-in-out dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-800"
  >
    Nueva tarea
  </a>
  <!-- Usar ngIf para verificar que tasks$ tiene datos antes de pasar a app-table -->
  <app-table *ngIf="tasks$ | async as tasks" [tasks]="tasks"></app-table>
</section>

